<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to your health data to export it to your health dashboard.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app does not write health data.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.healthexport.sync</string>
	</array>
</dict>
</plist>
